@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #ddd;
  font-family: 'Poppins', sans-serif;
}

main {
  min-height: 80vh;
}

a {
  text-decoration: none;
  color: var(--bs-dark);
}

.card {
  background-color: #fefefe;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rating span {
  margin-inline-end: 0.25rem;
}

.rating svg {
  color: #e65c19;
}

.rating-text {
  font-size: 0.75rem;
  padding-inline-start: 0.5rem;
}

.product-meta-data .list-group-item {
  background-color: rgba(256, 256, 256, 60%);
  padding-block: 0.6rem;
}

.product-meta-data .list-group-item:nth-child(1) {
  padding-block-start: 2rem;
}

.product-meta-data .list-group-item:nth-last-child(1) {
  padding-block: 2rem;
}

.product-meta-data .list-group-item:has(p) {
  padding-block-start: 1.25rem;
}

.product-image-container {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-center.form-control {
  width: 3rem;
  padding: 0.25rem 0;
  font-weight: bold;
}
